{% extends "superuser/master.html"%}
{%block title%} 
{%if sub%}
{{sub.name}}
{% else %}
  Election Schedules
{% endif %}
  {%endblock%}
{%block body%}


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>



</style>

<div class="container my-5">
    <h1><u>Election Schedules </u></h1>
    <a href="{% url 'superuser:add_election_schedules'%}" Class="btn btn-success" style="float:right;">Add Schedule</a>
  <div class="row my-5">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Pincode</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for schedule in schedule %}
            <tr>
                <td>{{schedule.pincode}}</td>
                <td>{{schedule.date}}</td>
                <td>{{schedule.startTime}}</td>
                <td>{{schedule.endTime}}</td>
                <td><a href="{%url 'superuser:delete_schedule' schedule.id%}" class="btn btn-danger">Delete Schedule</a></td>
            </tr>
            {% endfor %}
            
        </tbody>
        <tfoot>
            <tr>
                <th>Pincode</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Action</th>
            </tr>
        </tfoot>
    </table>
  </div>
</div>

<script>
$(document).ready(function() {
    $('#example').DataTable();
} );

</script>

{%endblock%}